<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="this.nav.back()">
      <ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-capitalize>Multiple Image Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" accept="image/*" #file (change)="selectImage($event)" style="display: none">
  <ion-row>
    <ion-col size=4 size-md=3 size-lg=2 size-xl=1 *ngFor="let data of files;let i=index;">
      <ion-card text-align="center">
          <img [src]="data?.url">
          <p class="text-close" (click)="remove(i)" *ngIf="!data?.status">Close</p>
      </ion-card>

    </ion-col>
    <ion-col size=4 size-md=3 size-lg=2 size-xl=1>
      <ion-card (click)="file.click($event)">
        <img src="https://img.icons8.com/ios/2x/plus-math.png" >
      </ion-card>
    </ion-col>
  </ion-row>
  <div padding>
    <ion-button (click)="upload()" fill="outline" shape="round" expand="full">Upload</ion-button>
  </div>


</ion-content>