.text-close{
    background: #d20d0d;
    margin: 0;
    padding: 6px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    /* position: sticky; */
    bottom: 36px;
    font-weight: bold;
}
.text-complete{
    background: #0baf2f;
    margin: 0;
    padding: 6px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    /* position: sticky; */
    bottom: 36px;
    font-weight: bold;
}