<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="this.nav.back()">
      <ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-capitalize>single image upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center">
    <img src="{{image_url}}" style="width: 200px; height: 200px;;border-radius: 50%; border: 1px solid rgb(202, 202, 202)"><br><br>
    <input type="file" accept="image/*" #file (change)="selectImage($event)" style="display: none">
    <span style="    background: #3880ff;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 4px;
        border-radius: 16px;" (click)="file.click($event)">
      Select Image
    </span>
  </div>

  <div padding>
      <ion-button (click)="upload()" fill="outline" shape="round" expand="full">Upload</ion-button>
  </div>
</ion-content>