<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row text-center text-uppercase>
    <ion-col>
      <ion-card padding (click)="this.nav.navigateForward('single-image-upload')">
        <p>Single Image Upload</p>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card padding (click)="this.nav.navigateForward('multiple-image-upload')">
          <p>Multiple Image Upload</p>
        </ion-card>
      </ion-col>
  </ion-row>
<div *ngFor="let data of imageUrls">
  <img [src]="data" style="width: 200px; border: 1px solid #999">
</div>
  <input type="file" accept="image/*" #file multiple (change)="selectImage($event)" style="display: none">
  <!-- <input type="file" multiple (change)="selectImage($event)"> -->
  <ion-button (click)="file.click($event)">Select Image</ion-button>

  <ion-button (click)="uploadImage()">Upload</ion-button>

  <form method="post" id="uploadForm" enctype="multipart/form-data" action="upload.php">
</form>
</ion-content>